# Unity log fájlok
Library/
Temp/
Obj/
Build/
Builds/
Logs/

# Meta fájlok az ideiglenes fájlokhoz
*.csproj
*.unityproj
*.sln
*.suo

# Fájlok, amiket nem szeretnél a Git-ben
# Azok a fájlok, amelyek a meta fájlokhoz tartoznak
# de a verziókövetés szempontjából nem fontosak
*.meta
